@page
@model AspNetCoreAuth2.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title pacifico larger-text">
                AspNet Core Auth
            </h1>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="field">
                            <p class="control has-icons-left ">
                                <input asp-for="LoginInputModel.UserName" class="input is-large" name="username" placeholder="Username">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                <span asp-validation-for="LoginInputModel.UserName" class="is-danger"></span>
                            </p>
                            </div>
                            <div class="field">
                                <p class="control has-icons-left">
                                    <input asp-for="LoginInputModel.Password" class="input is-large" name="password" type="password" placeholder="password">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                    <span asp-validation-for="LoginInputModel.Password" class="is-danger"></span>
                                </p>
                            </div>
                            <p>
                                <button class="button is-primary is-inverted is-outlined is-large is-fullwidth">LOGIN</button>
                                <br>
                            </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



